name: Daily Shorts Bot
on:
  workflow_dispatch: # Allows manual button click
  schedule:
    - cron: '0 10 * * *' # Runs everyday at 10am UTC

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install System Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y imagemagick
          # Fix ImageMagick security policy to allow text
          sudo sed -i 's/none/read,write/g' /etc/ImageMagick-6/policy.xml

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: Install Libraries
        run: pip install -r requirements.txt

      - name: Run Bot
        env:
          GEMINI_KEY: ${{ secrets.GEMINI_KEY }}
          PEXELS_KEY: ${{ secrets.PEXELS_KEY }}
          YT_CLIENT_ID: ${{ secrets.YT_CLIENT_ID }}
          YT_CLIENT_SECRET: ${{ secrets.YT_CLIENT_SECRET }}
          YT_REFRESH_TOKEN: ${{ secrets.YT_REFRESH_TOKEN }}
        run: python main.py
